.card__img-container {
  position: relative;
  padding-top: 57%;
  vertical-align: middle;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.card--square {
  .card__img-container {
    padding-top: 100%;
  }
}

.card__play-btn {
  right: 10px;
  bottom: 10px;
  z-index: 1;
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,.5);
  border-radius: 50%;
  text-align: center;
  line-height: 28px;
  i {
    vertical-align: middle;
    margin-left: 2px;
    font-size: 14px;
    color: #c3473a;
  }
}

.card__playcount {
  position: absolute;
  top: 0;
  right: 5px;
  z-index: 1;
  color: #fff;
  i {
    font-size: 12px;
    font-weight: 600;
  }
}

.card__creator {
  bottom: 8px;
  width: 80%;
  color: #fff;
  font-size: 12px;
  padding-left: 10px;
  .nickname {
    margin: 0 3px;
  }
  .icon-yonghu {
    font-size: 14px;
    vertical-align: bottom;
  }
  .identityIconUrl {
    display: inline-block;
    width: 13px;
    height: 13px;
    vertical-align: -2px;
    background-size: cover;
  }
}
.highquality {
  width: 0;
  height: 0;
  border-top: solid 30px #e9b373;
  border-right: solid 30px transparent;
  .icon-icon-test {
    left: 0;
    top: -32px;
    transform: rotate(-45deg);
    color: #fff;
    font-size: 20px;
  }
}

.card__section {
  height: 80px;
  padding: 4px 0;
  font-size: 13px;
  overflow: hidden;
  .desc-text {
    color: #333;
  }
}
